:root {
  // HSL hue
  --rainbow-rose: 340; // community
  --rainbow-pink: 310; // our team
  --rainbow-violet: 270; // support
  --rainbow-indigo: 250; // library
  --rainbow-blue: 220; // organisation
  --rainbow-cyan: 190; // wanderers
  --rainbow-green: 140; // conscious channeling
  --rainbow-yellow: 60; // trance channeling
  --rainbow-orange: 30; // channeling misc

  // HSL saturation
  --saturation-base: 27%;
  --saturation-highlight: 41%;
  --saturation-light: 50%;
  --saturation-dark: 18%;
  --saturation-darkest: 20%;
  --saturation-mark: 71%;
  --saturation-grayscale: 10%;

  // HSL lightness
  --lumen-base: 71%;
  --lumen-light: 90%;
  --lumen-lightest: 93%;
  --lumen-highlight-light: 90%;
  --lumen-dark: 23%;
  --lumen-darkest: 20%;
  --lumen-mark-dark: 27%;

  // BASE COLOURS
  --color-white: hsl(0, 0%, 100%);                              // #FFFFFF
  --color-light: hsl(0, 0%, 97%);                               // #F7F7F7
  --color-text-light: hsl(0, 0%, 93%);                          // #ECECEC

  --color-black: hsl(var(--rainbow-blue), 12%, 8%);               // #121417
  --color-dark: hsl(var(--rainbow-blue), 14%, 10%);               // #16181D
  --color-text-dark: hsl(var(--rainbow-blue), 14%, 14%);          // #1e2228

  --color-text-meta-dark: hsl(var(--rainbow-blue), 5%, 44%);      // #6A6E75
  --color-text-meta-light: hsl(var(--rainbow-blue), 5%, 75%);     // #BCBEC2

  --color-text-link-dark: hsl(var(--rainbow-blue), 43%, 45%);     // #4163A4
  --color-text-link-light: hsl(var(--rainbow-blue), 53%, 68%);    // #82A0D8

  --serenity-default-border-light: hsl(var(--rainbow-blue), var(--saturation-dark), 80%);
  --serenity-default-border-dark: hsl(var(--rainbow-blue), var(--saturation-dark), 40%);

  // RAINBOW ACCENTS
  --violet-light: hsl(var(--rainbow-violet), var(--saturation-light), var(--lumen-light));
  --indigo-light: hsl(var(--rainbow-indigo), var(--saturation-light), var(--lumen-light));
  --blue-light: hsl(var(--rainbow-blue), var(--saturation-light), var(--lumen-light));
  --green-light: hsl(var(--rainbow-green), var(--saturation-light), var(--lumen-light));
  --yellow-light: hsl(var(--rainbow-yellow), var(--saturation-light), var(--lumen-light));
  --orange-light: hsl(var(--rainbow-orange), var(--saturation-light), var(--lumen-light));
  --red-light: hsl(var(--rainbow-rose), var(--saturation-light), var(--lumen-light));

  --violet-lightest: hsl(var(--rainbow-violet), var(--saturation-light), var(--lumen-lightest));
  --indigo-lightest: hsl(var(--rainbow-indigo), var(--saturation-light), var(--lumen-lightest));
  --blue-lightest: hsl(var(--rainbow-blue), var(--saturation-light), var(--lumen-lightest));
  --green-lightest: hsl(var(--rainbow-green), var(--saturation-light), var(--lumen-lightest));
  --yellow-lightest: hsl(var(--rainbow-yellow), var(--saturation-light), var(--lumen-lightest));
  --orange-lightest: hsl(var(--rainbow-orange), var(--saturation-light), var(--lumen-lightest));
  --red-lightest: hsl(var(--rainbow-rose), var(--saturation-light), var(--lumen-lightest));

  --violet-dark: hsl(var(--rainbow-violet), var(--saturation-dark), var(--lumen-dark));
  --indigo-dark: hsl(var(--rainbow-indigo), var(--saturation-dark), var(--lumen-dark));
  --blue-dark: hsl(var(--rainbow-blue), var(--saturation-dark), var(--lumen-dark));
  --green-dark: hsl(var(--rainbow-green), var(--saturation-dark), var(--lumen-dark));
  --yellow-dark: hsl(var(--rainbow-blue), var(--saturation-dark), 18%);
  --orange-dark: hsl(var(--rainbow-orange), 0%, var(--lumen-dark));
  --red-dark: hsl(var(--rainbow-rose),  var(--saturation-dark),  var(--lumen-dark));

  --violet-darkest: hsl(var(--rainbow-violet), var(--saturation-darkest), var(--lumen-darkest));
  --indigo-darkest: hsl(var(--rainbow-indigo), var(--saturation-darkest), var(--lumen-darkest));
  --blue-darkest: hsl(var(--rainbow-blue), var(--saturation-darkest), var(--lumen-darkest));
  --green-darkest: hsl(var(--rainbow-green), var(--saturation-darkest), var(--lumen-darkest));
  --yellow-darkest: hsl(220, 7%, var(--lumen-darkest));
  --orange-darkest: hsl(0, 3%, 20%);
  --red-darkest: hsl(310,  13%,  var(--lumen-darkest));

  --violet-highlight: hsl(var(--rainbow-violet), var(--saturation-mark), var(--lumen-highlight-light));
  --indigo-highlight: hsl(var(--rainbow-indigo), var(--saturation-mark), var(--lumen-highlight-light));
  --blue-highlight: hsl(var(--rainbow-blue), var(--saturation-mark), var(--lumen-highlight-light));
  --green-highlight: hsl(var(--rainbow-green), var(--saturation-mark), 88%);
  --yellow-highlight: hsl(var(--rainbow-yellow), var(--saturation-mark), 88%);
  --orange-highlight: hsl(var(--rainbow-orange), var(--saturation-mark), var(--lumen-highlight-light));
  --red-highlight: hsl(var(--rainbow-rose), var(--saturation-mark),  var(--lumen-highlight-light));

  --violet-highlight-dark: hsl(var(--rainbow-violet), var(--saturation-dark), var(--lumen-mark-dark));
  --indigo-highlight-dark: hsl(var(--rainbow-indigo), var(--saturation-dark), var(--lumen-mark-dark));
  --blue-highlight-dark: hsl(var(--rainbow-blue), var(--saturation-dark), var(--lumen-mark-dark));
  --green-highlight-dark: hsl(var(--rainbow-green), var(--saturation-dark), var(--lumen-mark-dark));
  --yellow-highlight-dark: hsl(var(--rainbow-yellow), 0%, var(--lumen-mark-dark));
  --orange-highlight-dark: hsl(var(--rainbow-orange), 0%, var(--lumen-mark-dark));
  --red-highlight-dark: hsl(320,  var(--saturation-dark),  var(--lumen-mark-dark));

  // RAINBOW TEXT
  --rainbow-violet-text-dark-primary: hsl(var(--rainbow-violet), 17%, 35%);
  --rainbow-indigo-text-dark-primary: hsl(var(--rainbow-indigo), 17%, 35%);
  --rainbow-blue-text-dark-primary: hsl(var(--rainbow-blue), 17%, 35%);
  --rainbow-green-text-dark-primary: hsl(var(--rainbow-green), 17%, 35%);
  --rainbow-yellow-text-dark-primary: hsl(var(--rainbow-yellow), 17%, 35%);
  --rainbow-orange-text-dark-primary: hsl(var(--rainbow-orange), 17%, 35%);
  --rainbow-rose-text-dark-primary: hsl(var(--rainbow-rose), 17%, 35%);

  --rainbow-violet-text-dark-secondary: hsl(var(--rainbow-violet), 30%, 38%);
  --rainbow-indigo-text-dark-secondary: hsl(var(--rainbow-indigo), 30%, 38%);
  --rainbow-blue-text-dark-secondary: hsl(var(--rainbow-blue), 30%, 38%);
  --rainbow-green-text-dark-secondary: hsl(var(--rainbow-green), 30%, 38%);
  --rainbow-yellow-text-dark-secondary: hsl(var(--rainbow-yellow), 30%, 38%);
  --rainbow-orange-text-dark-secondary: hsl(var(--rainbow-orange), 30%, 38%);
  --rainbow-rose-text-dark-secondary: hsl(var(--rainbow-rose), 30%, 38%);

  --rainbow-cyan-text-dark-secondary: hsl(var(--rainbow-cyan), 30%, 38%);
  --rainbow-pink-text-dark-secondary: hsl(var(--rainbow-pink), 30%, 38%);
  //--rainbow-orange-text-dark-secondary: hsl(30, 30%, 38%);
  //--rainbow-yellow-text-dark-secondary: hsl(55, 30%, 38%);

  --rainbow-violet-text-light-primary: hsl(var(--rainbow-violet), var(--saturation-highlight), var(--lumen-base));
  --rainbow-indigo-text-light-primary: hsl(var(--rainbow-indigo), var(--saturation-highlight), var(--lumen-base));
  --rainbow-blue-text-light-primary: hsl(var(--rainbow-blue), var(--saturation-highlight), var(--lumen-base));
  --rainbow-green-text-light-primary: hsl(var(--rainbow-green), var(--saturation-highlight), var(--lumen-base));
  --rainbow-yellow-text-light-primary: hsl(var(--rainbow-yellow), var(--saturation-highlight), var(--lumen-base));
  --rainbow-orange-text-light-primary: hsl(var(--rainbow-orange), var(--saturation-highlight), var(--lumen-base));
  --rainbow-rose-text-light-primary: hsl(var(--rainbow-rose), var(--saturation-highlight), var(--lumen-base));

  --rainbow-violet-text-light-secondary: hsl(var(--rainbow-violet), var(--saturation-highlight), 85%);
  --rainbow-indigo-text-light-secondary: hsl(var(--rainbow-indigo), var(--saturation-highlight), 85%);
  --rainbow-blue-text-light-secondary: hsl(var(--rainbow-blue), var(--saturation-highlight), 85%);
  --rainbow-green-text-light-secondary: hsl(var(--rainbow-green), var(--saturation-highlight), 85%);
  --rainbow-yellow-text-light-secondary:  hsl(var(--rainbow-yellow), var(--saturation-mark), 85%);
  --rainbow-orange-text-light-secondary: hsl(var(--rainbow-orange), var(--saturation-highlight), 85%);
  --rainbow-rose-text-light-secondary: hsl(var(--rainbow-rose), var(--saturation-highlight), 85%);

  --rainbow-cyan-text-light-secondary: hsl(var(--rainbow-cyan), var(--saturation-highlight), 85%);
  --rainbow-pink-text-light-secondary: hsl(var(--rainbow-pink), var(--saturation-highlight), 85%);

  // darker rose gold accents
  --color-turkish-rose: hsl(351, 26%, 52%);
  --color-pratt-rose-quartz: hsl(351, 33%, 68%);

  // rose gold
  --color-rose-gold-dark: hsl(351, 11%, 47%);
  --color-rose-gold-light: hsl(3, 31%, 75%);

  // gold
  //--color-gold-primary: hsl(41, 100%, 80%);
  //--color-gold-secondary: hsl(42, 100%, 90%);

  // -----------------------  FOUNTAIN -----------------------
  // (https://www.hsluv.org)

  // luminance ~ 6.6 AA
  --fountain-dark-synopsis-color: #3eb08a;      // HSLuv (156, 85, 65)
  --fountain-dark-parenthesis-color: #72a0e3;   // HSLuv (250, 70, 65)
  --fountain-dark-action-color: #e77ca2;        // HSLuv (351, 70, 65)
  --fountain-dark-lyrics-color: #aa8ef1;        // HSLuv (275, 85, 65)

  // luminance ~4.8 AA
  --fountain-light-synopsis-color: #008160;     // HSLuv (156)
  --fountain-light-parenthesis-color: #0074c7;  // HSLuv (250)
  --fountain-light-action-color: #d42478;       // HSLuv (351, 90)
  --fountain-light-lyrics-color: #8259d5;       // HSLuv (275)

  // ------------------- DEFAULT DARK MODE -------------------

  // primary serenity palette
  --a11y-primary: var(--blue-darkest);
  --a11y-secondary: var(--rainbow-blue-text-dark-primary);
  --a11y-tranquil: hsl(160, 25%, 20%);
  --a11y-gold: var(--switch-yellow-background);

  --switch-violet-background: var(--violet-darkest);
  --switch-indigo-background: var(--indigo-darkest);
  --switch-blue-background: var(--blue-darkest);
  --switch-green-background: var(--green-darkest);
  --switch-yellow-background: var(--yellow-darkest);
  --switch-orange-background: var(--orange-darkest);
  --switch-red-background: var(--red-darkest);

  --switch-platinum-background: hsl(var(--rainbow-blue), var(--saturation-grayscale),  var(--lumen-darkest));

  // mark
  --switch-violet-mark: var(--violet-highlight-dark);
  --switch-indigo-mark: var(--indigo-highlight-dark);
  --switch-blue-mark: var(--blue-highlight-dark);
  --switch-green-mark: var(--green-highlight-dark);
  --switch-yellow-mark: var(--yellow-highlight-dark);
  --switch-orange-mark: var(--orange-highlight-dark);
  --switch-red-mark: var(--red-highlight-dark);

  // headings: rose-golds
  --a11y-rose-gold-primary: var(--color-rose-gold-light);
  --a11y-rose-gold-secondary: var(--color-pratt-rose-quartz);
  --a11y-rose-gold-primary-inverse: var(--color-rose-gold-dark);

  // primary text
  --a11y-violet-primary: var(--rainbow-violet-text-light-primary);
  --a11y-indigo-primary: var(--rainbow-indigo-text-light-primary);
  --a11y-serenity-primary: var(--rainbow-blue-text-light-primary);
  --a11y-green-primary: var(--rainbow-green-text-light-primary);
  --a11y-yellow-primary: var(--a11y-rose-gold-primary);
  --a11y-orange-primary: var(--a11y-rose-gold-primary);
  --a11y-rose-primary: var(--rainbow-rose-text-light-primary);

  // secondary text
  --a11y-violet-secondary: var(--rainbow-violet-text-light-secondary);
  --a11y-indigo-secondary: var(--rainbow-indigo-text-light-secondary);
  --a11y-serenity-secondary: var(--rainbow-blue-text-light-secondary);
  --a11y-green-secondary: var(--rainbow-green-text-light-secondary);
  --a11y-yellow-secondary: var(--a11y-rose-gold-secondary);
  --a11y-orange-secondary: var(--a11y-rose-gold-secondary);
  --a11y-rose-secondary: var(--rainbow-rose-text-light-secondary);

  --a11y-text-link: var(--color-text-link-light);

  // backgrounds
  --color-bg-contrast: var(--color-dark);
  --color-bg-default: var(--color-black);

  // default text
  --color-text-default: var(--color-text-light);
  --color-text-default-soft: var(--color-text-meta-light);

  // inverse text
  --color-text-inverse: var(--color-text-dark);
  --color-text-inverse-soft: var(--color-text-meta-dark);

  // accent text
  --color-text-highlight: var(--rainbow-blue-text-light-primary);

  // meta
  --color-text-meta: var(--color-text-meta-light);

  // dark and light gray borders
  --color-border-serenity-default: var(--serenity-default-border-dark);

  --a11y-border-violet: var(--rainbow-violet-text-dark-secondary);
  --a11y-border-indigo: var(--rainbow-indigo-text-dark-secondary);
  --a11y-border-serenity: var(--rainbow-blue-text-dark-secondary);
  --a11y-border-green: var(--rainbow-green-text-dark-secondary);
  --a11y-border-gold: var(--color-rose-gold-secondary);
  //--a11y-border-hazel: var(--color-rose-gold-secondary);
  --a11y-border-rose: var(--rainbow-rose-text-dark-secondary);

  // menu rainbow
  --a11y-border-cyan: var(--rainbow-cyan-text-dark-secondary);
  --a11y-border-pink: var(--rainbow-pink-text-dark-secondary);
  --a11y-border-yellow: var(--rainbow-yellow-text-dark-secondary);
  --a11y-border-orange: var(--rainbow-orange-text-dark-secondary);

  // fountain
  --color-synopsis: var(--fountain-dark-synopsis-color);
  --color-parenthesis: var(--fountain-dark-parenthesis-color);
  --color-action: var(--fountain-dark-action-color);
  --color-lyrics: var(--fountain-dark-lyrics-color);

  // filters
  --image-filter: grayscale(50%);
  --invert-filter: invert(0);
}

.light-mode {
  // primary serenity palette
  --a11y-primary: var(--rainbow-blue-text-light-secondary);
  --a11y-secondary: var(--blue-lightest);
  --a11y-tranquil: var(--rainbow-green-text-light-primary);
  --a11y-gold: hsl(var(--rainbow-yellow), var(--saturation-highlight), 85%);

  --switch-violet-background: var(--violet-lightest);
  --switch-indigo-background: var(--indigo-lightest);
  --switch-blue-background: var(--blue-lightest);
  --switch-green-background: var(--green-lightest);
  --switch-yellow-background: var(--yellow-lightest);
  --switch-orange-background: var(--orange-lightest);
  --switch-red-background: var(--red-lightest);

  --switch-platinum-background: hsl(var(--rainbow-blue), var(--saturation-grayscale),  var(--lumen-lightest));

  --switch-violet-mark: var(--violet-highlight);
  --switch-indigo-mark: var(--indigo-highlight);
  --switch-blue-mark: var(--blue-highlight);
  --switch-green-mark: var(--green-highlight);
  --switch-yellow-mark: var(--yellow-highlight);
  --switch-orange-mark: var(--orange-highlight);
  --switch-red-mark: var(--red-highlight);

  // headings: rose-golds
  --a11y-rose-gold-primary: var(--color-rose-gold-dark);
  --a11y-rose-gold-secondary: var(--color-turkish-rose);
  --a11y-rose-gold-primary-inverse: var(--color-rose-gold-light);

  // primary text
  --a11y-violet-primary: var(--rainbow-violet-text-dark-primary);
  --a11y-indigo-primary: var(--rainbow-indigo-text-dark-primary);
  --a11y-serenity-primary: var(--rainbow-blue-text-dark-primary);
  --a11y-green-primary: var(--rainbow-green-text-dark-primary);
  --a11y-yellow-primary: var(--a11y-rose-gold-primary);
  --a11y-orange-primary: var(--a11y-rose-gold-primary);
  --a11y-rose-primary: var(--rainbow-rose-text-dark-primary);

  // secondary text
  --a11y-violet-secondary: var(--rainbow-violet-text-dark-secondary);
  --a11y-indigo-secondary: var(--rainbow-indigo-text-dark-secondary);
  --a11y-serenity-secondary: var(--rainbow-blue-text-dark-secondary);
  --a11y-green-secondary: var(--rainbow-green-text-dark-secondary);
  --a11y-yellow-secondary: var(--a11y-rose-gold-secondary);
  --a11y-orange-secondary: var(--a11y-rose-gold-secondary);
  --a11y-rose-secondary: var(--rainbow-rose-text-dark-secondary);

  // text
  --a11y-text-link: var(--color-text-link-dark);

  // backgrounds
  --color-bg-contrast: var(--color-white);
  --color-bg-default: var(--color-light);

  // default text
  --color-text-default: var(--color-text-dark);
  --color-text-default-soft: var(--blue-darkest);

  // inverse text
  --color-text-inverse: var(--color-text-light);
  --color-text-inverse-soft: var(--color-text-meta-light);

  // accent text
  --color-text-highlight: var(--rainbow-blue-text-light-primary);

  // links
  --color-text-meta: var(--color-text-meta-dark);

  // dark and light gray borders
  --color-border-serenity-default: var(--serenity-default-border-light);

  --a11y-border-violet: var(--rainbow-violet-text-light-secondary);
  --a11y-border-indigo: var(--rainbow-indigo-text-light-secondary);
  --a11y-border-serenity: var(--rainbow-blue-text-light-secondary);
  --a11y-border-green: var(--rainbow-green-text-light-secondary);
  --a11y-border-gold: var(--a11y-rose-gold-primary-inverse);
  //--a11y-border-hazel: var(--a11y-rose-gold-primary-inverse);
  --a11y-border-rose: var(--rainbow-rose-text-light-secondary);

  // menu rainbow
  --a11y-border-cyan: var(--rainbow-cyan-text-light-secondary);
  --a11y-border-pink: var(--rainbow-pink-text-light-secondary);
  --a11y-border-yellow: palegoldenrod;
  --a11y-border-orange: var(--rainbow-orange-text-light-secondary);

  // fountain
  --color-synopsis: var(--fountain-light-synopsis-color);
  --color-parenthesis: var(--fountain-light-parenthesis-color);
  --color-action: var(--fountain-light-action-color);
  --color-lyrics: var(--fountain-light-lyrics-color);
}
