// PLUMBER - Easy baseline grids with SASS
// https://jamonserrano.github.io/plumber-sass

$sans-baseline: 0.12;
$sans-font-size: 1.14;

$serif-font: Georgia, serif;
$serif-baseline: 0.151123;

$mono-baseline: 0.154;

@include plumber-set-defaults(
    $grid-height: 1rem,
    $baseline: $serif-baseline,
    $font-size: 1.142857142857143,
    $line-height: 2,
    $leading-top: 0,
    $leading-bottom: 1
);

*,
*::before,
*::after {
  //
}

::selection {
  /* WebKit/Blink Browsers */
  background: var(--color-text-highlight);
}
::-moz-selection {
  /* Gecko Browsers */
  background: var(--color-text-highlight);
}

.noselect {
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

html {
  @apply text-default;
  font-size: 14px !important;
}

body {
    font-family: 'Nunito';
}

main {
  @apply min-h-screen;
}

.app {
  @apply bg-default text-default;

  --duration: 0.3s;
  --timing: ease-in-out;

  transition:
      color var(--duration) var(--timing),
      border var(--duration) var(--timing),
      background-color var(--duration) var(--timing);
}

.dark-mode {
  // a CSS selector that matches all images that don't have .svg in their URL
  // desaturate the images on dark-mode to make them match the theme better
  img:not([src*=".svg"]) {
    filter: var(--image-filter) var(--invert-filter);
  }
}

h1 {
  @apply font-serif;

  @include plumber(
    $font-size: 2.78,
    $line-height: 4,
    $leading-top: 2,
  );

  em {
    @apply text-rose-heading-primary;
  }
}

h2 {
  @apply text-serenity-primary font-serif;

  @include plumber(
    $font-size: 1.78,
    $line-height: 3,
  );
}

h3 {
  @apply font-medium text-serenity-secondary;
  @include plumber(
      $font-size: 1.2,
      $line-height: 2,
      $leading-bottom: 1,
  );
}

.subtitle {
  @apply font-serif text-rose-heading-primary;
}

h4, dt {
  @apply font-semibold tracking-wide text-rose-heading-primary;

  @include plumber(
    $baseline: $sans-baseline,
    $font-size: 1,
    $leading-top: 1,
    $line-height: 1,
  );
}

h5 {
  @apply font-medium uppercase;

  @include plumber(
    $baseline: $sans-baseline,
    $font-size: 1,
    $line-height: 1,
  );
}

h6 {
  @apply font-medium tracking-wide;
  @include plumber(
      $baseline: $sans-baseline,
      $font-size: $sans-font-size,
  );
}

.nav-title {
  @apply font-semibold font-serif;
  @include plumber(
      $font-size: 1.2,
      $line-height: 2,
      $leading-top: 1,
      $leading-bottom: 0,
  );
}

.nav-btn {
  @apply flex items-center h-8 border rounded leading-none ml-2;
}

.nav-links {
  .nav-link {
    @apply px-2;

    @include plumber(
            $font-size: $sans-font-size,
            $baseline: $sans-baseline,
            $line-height: 2,
            $leading-top: 1,
            $leading-bottom: 0,
    );
  }
}

p, q {
  @include plumber(
      $line-height: 2,
      $leading-bottom: 2,
  );
}

br {
  line-height: 1rem;
  content: '';
}

.caption {
  @apply text-meta;

  @include plumber(
      $line-height: 2,
  );
}

ul, ol {
  @include plumber(
      $baseline: $sans-baseline,
      $font-size: $sans-font-size,
      $line-height: 2,
  );
}

.btn {
  @include plumber(
        $font-size: 1,
        $baseline: $sans-baseline,
        $leading-bottom: 0,
        $line-height: 2,
  );

  @apply flex items-center border rounded py-0 px-4 -mt-px;
}

pre {
  //@apply block;
  //margin-bottom: 2rem;
  //padding: 1rem;
  //white-space: pre;
  //white-space: pre-wrap;
  //word-break: break-all;
  //word-wrap: break-word;

  @include plumber(
      $font-size: 1,
      $baseline: $mono-baseline,
      $line-height: 1,
  );
}

a {
  @apply text-link;
}

a:hover {
  @apply underline text-default;
}

blockquote {
  @apply pl-4 border-l-4 border-rose text-rose-heading-primary whitespace-pre-line;

  a {
    @apply underline;
    color: inherit;
  }
}

hr {
  @apply mb-8 -mt-px;
}

mark {
  @apply bg-gold-mark text-default;
  padding: 0.1em;
}

/* announced mark on screen readers */
mark::before {
  content: " [highlight start] ";
}

mark::after {
  content: " [highlight end] ";
}

/* Hide the text created in the CSS content property */
mark::before,
mark::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/**
 * Rainbow Accents
 */
$palette: ('violet', 'indigo', 'serenity', 'tranquil', 'gold', 'amber', 'rose');

@mixin rainbowAccent($color) {
  h1 {
    @apply text-default;
    em {
      @apply text-#{$color}-secondary;
    }
  }

  h2 {
    @apply text-#{$color}-primary;
  }

  h3 {
    @apply text-#{$color}-secondary;
  }

  @if $color == 'gold' {
    a {
      @apply text-#{$color}-primary;
    }
  }

  mark {
    @apply bg-#{$color}-mark;
  }

  blockquote {
    @apply text-#{$color}-primary border-#{$color};
  }

  article, blockquote {
    a {
      @apply underline;
      color: inherit;
    }
  }
}

@each $color in $palette {
  // example: .serenity-accent
  .#{$color}-accent {
    @include rainbowAccent($color)
  }
}

article {
  p, b, em, i, ul, ol, blockquote, pre, .alert, .note, .box, .footnotes {
    @apply font-serif;
  }

  b {
    @include plumber(
        $line-height: 2,
    );
  }

  ul, ol {
    @apply list-inside;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  .footnote-ref {
    color: red !important;
  }

  .footnote {
    @apply pb-4;

    p {
      @include plumber(
          $line-height: 2,
          $leading-bottom: 1,
      );
    }
  }

  .lead {
    //
  }

  .alert {
    @apply uppercase mb-12 whitespace-pre-wrap p-0;
  }
}

// new feature section
section {
  @apply mx-auto my-16;

  .pull {
    @apply pb-8 -mt-4;
  }

  .heading {
    @apply flex border-b mb-4 -mt-px;

    .title {
      @apply flex-grow text-default;

      a {
        @apply text-default;
      }
    }

    .meta, .link {
      @apply flex-grow-0;

      @include plumber(
          $line-height: 1,
          $leading-bottom: 0,
      );

      a {
        @apply text-meta;
      }

      a:hover {
        @apply text-default;
      }
    }

    .link {
      @apply hidden;

      @media(min-width: theme('screens.sm')) {
        @apply inline-block;
      }
    }
  }

  .content {
    @apply pt-4 -mt-px pb-px;
  }

  .columns {
    // use css grid instead of webkit columns
    @apply grid grid-rows-2 grid-flow-row col-gap-8;

    @media(min-width: theme('screens.sm')) {
      @apply grid-flow-col;
    }
  }

  .columns-3 {
    -webkit-columns: 250px 3;
    -moz-columns: 250px 3;
    columns: 250px 3;
  }
}

p, q, blockquote, .alert, .note, .box, .footnotes {
  @apply font-serif;
}

// default style for Q'uote on homepage
//q { quotes: '“' '”' '‘' '’'; }
//:lang(en) > q::before { @apply text-4xl align-text-bottom; }

/* quotes for French, German (two kinds) and Japanese */
//:lang(fr) > q { quotes: '« ' ' »' '“' '”'; }
//:lang(de) > q { quotes: '„' '“' '‚' '‘'; }
//:lang(de) > q { quotes: '»' '«' '›' '‹'; } /* alternative style */
//:lang(ja) > q { quotes: '「' '」' '『' '』'; }

//q::before {
//  @apply mr-1 text-3xl align-baseline;
//
//  content: open-quote;
//  color: var(--color-serenity);
//  line-height: 0.1em;
//}

//q::after {
//  content: no-close-quote;
//}

dt {
  @apply normal-case;
}

dd {
  @apply font-serif text-meta;

  @include plumber(
      $leading-top: 0,
      $leading-bottom: 0
  );

  ul {
    @apply list-disc list-inside pt-4 pb-0;
  }

  ul > li {
    @include plumber(
        $font-size: 1,
        $line-height: 2,
        $leading-bottom: 0,
    );
  }
}

.sidebar {
  ul {
    @apply list-none list-inside pt-4 pb-0;
  }

  ul > li {
    @include plumber(
        $font-size: 1,
        $line-height: 2,
        $leading-bottom: 0,
    );
  }
}

.notice {
  @apply border px-4 mb-1 rounded h-12 flex items-center;

  a {
    @apply py-0 text-default;
  }

  a:after {
    content: ' →';
  }
}

.alert {
  //
}

.alert--danger {
  @apply bg-transparent border border-red-400 text-red-500 rounded relative;
}

.breadcrumbs {
  @apply border-b px-4 w-full;

  ol, ul {
    @apply list-none flex text-gray-600;

    @include plumber(
        $leading-top: 1,
        $leading-bottom: 0
    );
  }

  li:not(:first-child):before {
    content: "/";
    @apply mx-2;
  }
}


.subnav {
  @apply h-12 border-b shadow-sm px-4 w-full mb-4;
}

.ribbon {
  @apply flex items-center justify-between h-8 -mt-2 mb-2;

  h4 {
    @apply my-0 pb-0;
  }
}

.pagination {
  @apply bg-serenity py-0 mt-4 h-12 flex items-center w-full list-none rounded border shadow-sm;

  li {
    @apply relative block;
  }
}

.news-item {

  .news-title {
    @apply -mt-px;

    @include plumber(
        $line-height: 2,
    );

    a {
      @include plumber(
          $font-size: $sans-font-size,
          $baseline: $sans-baseline,
          $line-height: 1,
          $leading-bottom: 0,
      );
    }


    .date {
      @apply text-rose-heading-primary font-serif;
      @include plumber(
          $line-height: 1,
      )
    }
  }
}

.news-item.with-border {
  &:not(:first-child) {
    @apply border-t border-dotted pt-8;
  }
}

.summary-list {
  @apply pt-4 pb-0 mb-8;
}

.summary-item {
  @apply mb-4 -mt-px;

  &:first-child {
    @apply pt-px;
  }
  &:not(:last-child) {
    @apply border-b border-dotted;
  }

  .summary-title {
    @apply flex flex-col justify-between mb-4;

    @media(min-width: theme('screens.md')) {
      @apply flex-row mb-0;
    }

    // enforce the line-height for these elements
    // as they are not nested in a paragraph
    a {
      @include plumber(
          $font-size: $sans-font-size,
          $baseline: $sans-baseline,
          $line-height: 1,
          $leading-bottom: 0,
      );
    }

    .date, .meta, .meta > a {
      @apply font-sans;
      @include plumber(
          $font-size: 1,
          $baseline: $sans-baseline,
          $line-height: 1,
          $leading-bottom: 1,
      );
    }

    .date, .meta {
      @apply text-meta;
    }
  }

  .excerpt, .synopsis > p {
    @include plumber(
        $font-size: 1,
        $line-height: 2,
        $leading-top: 0,
        $leading-bottom: 1,
    )
  }

  .excerpt > p {
    @apply mb-0;
  }
}

.list-item {
  @apply flex-col -mt-px;

  &:not(:last-child) {
    @apply border-b border-dotted;
  }

  // enforce the line-height for these elements
  // as they are not nested in a paragraph
  a {
    @include plumber(
        $font-size: $sans-font-size,
        $baseline: $sans-baseline,
        $line-height: 2,
        $leading-bottom: 0,
    );
  }

  .title {
    @apply flex w-full justify-between flex-col pb-2 -mb-4;

    @media(min-width: theme('screens.md')) {
      @apply flex-row;
    }

    .link {
      @apply flex items-center flex-grow;
    }

    .meta {
      @apply flex-grow-0 text-meta font-sans;
      @include plumber(
          $font-size: 1,
          $baseline: $sans-baseline,
          $line-height: 1,
          $leading-bottom: 1,
      );
    }
  }
}

.list-inline {
  @apply -mt-px mb-px;

  li > a {
    @apply flex items-center;
  }

  .list-item {
    @apply py-2 mb-2;
  }
}

.thumbnail, .thumbnail-md {
  img {
    @apply border;
  }

  span {
    @include plumber(
          $font-size: 1,
          $line-height: 2,
    );
  }
}

.thumbnail {
  // the book covers are 6x9 default
  // we convert that to 8rem x 12rem
  // which is w-32 x h-48, or 128x192px, or @4x 512x768px
  // thumbnail height is the same as catalog__book width
  @apply inline-block;
  width: 9rem;

  img,
  .image,
  .cover {
    @apply mb-2 bg-primary;

    width: 9rem;
    height: 13rem;
  }
}

.thumbnail-md {
  // the book covers are 6x9 default
  // we convert that to 8rem x 12rem
  // which is w-32 x h-48, or 128x192px, or @4x 512x768px
  // thumbnail height is the same as catalog__book width
  @apply inline-block;
  width: 9.9rem;

  img,
  .image,
  .cover {
    @apply mb-2 bg-primary;

    width: 10rem;
    height: 15rem;
  }
}

.thumbnail-lg {
  @apply inline-block w-48 mr-4;

  .image {
    @apply bg-primary w-48 mb-4;
  }

  img {
    @apply w-64 border;
  }
}


.thumbnail-xl {
  @apply inline-block w-64 mr-4;

  .image {
    @apply bg-primary w-64 mb-3;
  }

  img {
    @apply w-64 border;
  }
}

.card {
  .title {
    @include plumber(
        $font-size: $sans-font-size,
        $baseline: $sans-baseline,
        $line-height: 3,
        $leading-bottom: 0,
    );
  }
}

nav {
  ul {
    @apply font-sans;
  }
}

footer {
  ul {
    @apply font-sans;
  }
}

nav, .social-icon {
  a {
    @apply text-default;
  }
}

/* Experimental */
.invert {
  --invert-filter: invert(1);
}

.multiply {
  mix-blend-mode: multiply;
}

.bg-multiply {
  background-blend-mode: multiply;
}

.screen {
  mix-blend-mode: screen;
}

.bg-screen {
  background-blend-mode: screen;
}

@supports (initial-letter: 2) or (-webkit-initial-letter: 2) {
  article.drop-caps:first-letter {
    @apply text-serenity-primary mr-3;

    -webkit-initial-letter: 2;
    initial-letter: 2;
  }
}

main.debug {
  //background-image: url('/assets/golden-canon-mobile.svg');
  background-size: contain;

  @media(min-width: theme('screens.sm')) {
    background-image: url('/assets/golden-canon-grid.svg');
  }
}

/* Golden Ratio Layout for Canon Grid */
main.debug {
  // xs :: 0 - 640px
  @apply border-t-2 border-red-400;

  // sm :: 640 - 768px
  @media(min-width: theme('screens.sm')) {
    @apply border-t-2 border-orange-400;
  }

  // md :: 768 - 1024px
  @media(min-width: theme('screens.md')) {
    @apply border-t-2 border-yellow-400;
  }

  // lg :: 1024 - 1280px
  @media(min-width: theme('screens.lg')) {
    @apply border-t-2 border-green-400;
  }

  // xl :: 1028px
  @media(min-width: theme('screens.xl')) {
    @apply border-t-2 border-blue-400;
  }
}

/**
 * Columns number: 8 column(s)
 * Column width: 94px
 * Column space: 24px
 *
 * Content width: 920px
 * Full width: 944px
 */

/**
 * Columns number: 10 column(s)
 * Column width: 70.4px
 * Column space: 24px
 *
 * Content width: 920px
 * Full width: 944px
 */

nav, footer {
  @apply mx-auto;
  max-width: 1024px;
}

.page {
  @apply mx-auto bg-contrast border shadow-sm;
  max-width: 1024px;
}

section {
  max-width: 940px;

  .row {
    @apply mx-6;

    // lg :: 1024 - 11280px
    @media(min-width: theme('screens.lg')) {
      @apply mx-4;
    }
  }

  ul {
    //
  }

  ul.tabs {
    @apply flex -mt-px font-sans mb-0 pb-0;
  }
}

main.debug {
  .header, .header-sm, .header-md, .header-lg, .header-xl {
    @apply opacity-50;
  }
}

.header {
  // allow the header overlays to transition longer for effect
  --duration: 1.4s;
  --timing: ease-out;

  transition:
      background-color var(--duration) var(--timing);

  // if screen blend isn't supported, keep the text white
  // as the default overlay--light images have a black bg
  @supports not(mix-blend-mode: screen) {
    @apply text-white;
  }
}

.fx-enabled {
  @supports not(mix-blend-mode: screen) {
    @apply hidden;
  }
}

.illustration {
  @apply absolute right-0 bottom-0 object-contain object-right h-40 pb-4;
}

.illustration.default {
  @apply mr-12 w-40;
}

.no-nav {
  padding-top: 3rem;
}

.shadow-3d {
  box-shadow: 3px 3px 0px var(--color-border-serenity-default);
}

.shadow-sm-3d {
  box-shadow: 1px 1px 0px var(--color-border-serenity-default);
}

.serenity-gradient {
  background: linear-gradient(to bottom right, var(--switch-blue-background), var(--color-bg-contrast));
}

.serenity-gradient-alt {
  background: linear-gradient(to top right, var(--switch-blue-background), var(--color-bg-contrast));
}

.rose-gradient {
  background: linear-gradient(to bottom right, var(--switch-red-background), var(--color-bg-contrast));
}

// Baseline grid demo styles.
// ---------------------------------------

.light-mode {
  .baselines {
    background-image: linear-gradient(to bottom, skyblue 0, rgba(255, 255, 255, 0) 1px);
    background-repeat: repeat-y;
    background-size: 100% 1rem;
  }
}
